body {
    height: auto;
    background-color: #f2f2f2
}

.register-table {
    width: 600px;
    border-radius: 12px;
    margin: auto;
    margin-top: 100px;
    border-spacing: 0 10px;
    background-color: white;
    padding-top: 12px;
    border: 2px solid #181818;
}

.register-table th {
    text-align: center;
    color: black;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 2px solid #181818;
    border-top: 2px solid #181818;
    background-color: #2bb4f3;
}

.register-table td {
    padding: 4px 12px;
    font-size: 16px;
    border: none;
}

#name, #email, #password {
    width: 300px;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 14px;
}

#date {
    width: 56px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#month {
    width: 98px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 14px;
    cursor: pointer;
}

#year {
    width: 80px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 14px;
    text-align: center;
}

#submit, #reset {
    font-size: 14px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

#submit {
    padding: 8px 16px;
    background-color: #0075ff;
}

#reset {
    padding: 8px 22px;
    background-color: #ff351bf1;
}

#submit:hover {
    background-color: #005cc8;
}

#reset:hover {
    background-color: #ff0000;
}
